html{
    background-color: green;
  }
  .primera_parte{
    text-align: center;
  }
  .titulo{
    color: white;
  }
  .nav{
    color: white;
  }
  .aguita{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .tarjeta{
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    background-color: white;
  }
  .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 5  0px;
  }
  
  .contenerdor_img{
    width: 200px;
  }
  
  .contenerdor_img > img {
    width: 100%;
  }
  
  .nombre{
    background-color: red;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
  }
  
  .titulo{
    text-align: center;
  }
